@import "../../styles/variables";

html, body {
  height: 100%; /* Garante que o body ocupe 100% da altura da página */
  margin: 0;
  padding: 0;
}

.section-top {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}

.section-body {
  display: flex; /* Permite que os elementos internos se organizem lado a lado (sidebar e roteamento) */
  flex-grow: 1; /* Faz a seção crescer para ocupar o espaço restante */
  padding-top: 50px; /* Espaço para compensar a barra superior */
}

.section-router {
  flex-grow: 1; /* Faz com que o roteamento ocupe o restante do espaço */
  height: calc(100vh - 50px); /* Garante que a altura ocupe toda a viewport, menos o tamanho da barra superior */
  overflow: auto; /* Para permitir o scroll se o conteúdo exceder a altura */
  background-color: $primary-color;
}

.section-sideBar {
  width: 30%; /* Largura da sidebar */
  height: 100vh; /* Altura da viewport */
  position: fixed; /* Fixa a sidebar */
  transform: translateX(-102%); /* Inicialmente fora da tela */
  transition: transform 0.3s ease; /* Transição suave */
  z-index: 2;
}

.section-sideBar.open {
  transform: translateX(0); /* Desliza para dentro */
}

@media (min-width: 768px) {
  .section-sideBar {
    width: 20%;
    transform: translateX(0%); /* Sempre visível e fixo */
  }

  .section-router {
    padding-left: 20%; /* Ajusta o conteúdo principal para não sobrepor a sidebar */
  }
}
