<section class="section-main">
  <section class="section-verif">
    <button class="div-verif" (click) = "openCheckTask()"></button>
  </section>

  <button class = "button-open-description" (click) = "openDisplayTask()" >


      <section class="section-description">
        <p *ngIf="data">{{ data.title }} </p>
      </section>

      <section class="section-data">
        <p *ngIf="data" class = "p-hora">{{ data.hour }},</p>
        <p *ngIf="data">{{ data.date }}</p>
      </section>

  </button>

</section>