<div class="p-5 font-sans">
    <header class="text-center py-10">
        <h1 class="text-4xl font-bold text-gray-800">Sobre o Desenvolvimento Atlas</h1>
        <p class="text-lg text-gray-600">Conheça mais sobre o projeto e seu criador.</p>
    </header>
  
    <section class="flex flex-wrap justify-center gap-10 mt-5">
        <div class="bg-white border border-gray-300 rounded-lg shadow-md p-6 w-full max-w-md flex flex-col items-center text-center">
            <h2 class="text-2xl font-semibold text-gray-800">Sobre o Desenvolvedor</h2>

            <div class="w-full text-left">
                <p class="mt-6 font-bold"> Abraão Sued da Silva Bôa Morte </p>
                <p class="mt-2 font-bold"> Email para contato: suedabraao&#64;gmail.com </p>
            </div>


            <p class="text-gray-600 text-justify mt-2">
                Sou um desenvolvedor apaixonado por tecnologia e inovação. Meu objetivo é criar soluções que 
                realmente fazem a diferença na vida das pessoas, combinando funcionalidade e experiência do usuário.
            </p>
        </div>
        <div class="bg-white border border-gray-300 rounded-lg shadow-md p-6 w-full max-w-md flex flex-col items-center text-center">
            <h2 class="text-2xl font-semibold text-gray-800">Nossa Missão</h2>
            <p class="text-gray-600 text-justify mt-2">
                O Desenvolvimento Atlas nasceu da necessidade de otimizar a produtividade e o crescimento pessoal. 
                Nosso objetivo é oferecer ferramentas eficientes para organização, aprendizado e bem-estar.
            </p>
        </div>
  
        <div class="bg-white border border-gray-300 rounded-lg shadow-md p-6 w-full max-w-md flex flex-col items-center text-center">
            <h2 class="text-2xl font-semibold text-gray-800">Nossos Serviços</h2>
            <p class="text-gray-600 text-justify mt-2">
                Criamos soluções para gerenciamento de tarefas e planejamento diário.
                 Tudo para tornar sua rotina mais produtiva e equilibrada.
            </p>
        </div>
  
        <div class="bg-white border border-gray-300 rounded-lg shadow-md p-6 w-full max-w-md flex flex-col items-center text-center">
            <h2 class="text-2xl font-semibold text-gray-800">Compromisso com Você</h2>
            <p class="text-gray-600 text-justify mt-2">
                Valorizamos a simplicidade, eficiência e personalização. Nosso compromisso é evoluir constantemente 
                para atender melhor às suas necessidades.
            </p>
        </div>

    </section>
</div>
