@import '../../../../styles/variables';


.section-main{
    background-color: $primary-color;
    width: 100%;
    height: max-content;
    max-height: 100%;
    padding: 10px;
    padding-top: 8px;

    padding-right: 6px;
    
    border-style: solid;
    border-width: 2px;
    border-radius: 20px;
    border-color: black;
    display: flex;
    flex-direction: column;





    .div-buttom-alternative{
        
        width: 30px;
        height: 30px;
        background-color: $button-white-color;
        border-radius: 20px;
        border-style: solid;
        border-width: 1px;
        cursor: pointer;
        box-shadow: 2px 3px 2px rgba(0, 0, 0, 0.3);

        img{
            margin-left: 3px;
            margin-top: -5.5px;
        }
        
    }

    .section-top{
        border-style: solid;
        border-width: 1px;
        border-radius: 5px;
        border-top: 0;
        border-right: 0;
        border-left: 0;
        padding-bottom: 2px;
        border-color: black;

        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;

        position: sticky;
        top: 0;
        width: 100%;

        p{
            margin-top: 5px;
            font-size: 22px;
            font-style: italic;
        }

        .button-close{
            position: absolute;
            right: 0; /* Adjust right position as needed */
            top: 0; /* Adjust top position as needed */
            width: max-content;
            height: max-content;
            border-radius: 20px;
            border-width: 0px;
            background-color: $primary-color;
            
        }

        img{ 
            cursor: pointer;
            margin-bottom: -3px;
            border-radius: 20px;
        }

    }

    .section-body{
        margin-top: 0px;   
        overflow-y:auto;
        box-sizing:content-box;
        margin-right: -6px;
        padding-right: 6px;
        
    }

    .section-text{


        margin-top: 15px;

        p{
            font-size: 20px;
            font-weight: bold;
            margin-bottom: 10px;
            
        }

        .textarea-title, .textarea-description{
            width: 97%;
            border-radius: 8px;
            border-width: 1.5px;
            padding: 4px;
            font-size: 18px;
            resize: none; /* para fazer o textArea não expandir*/
            margin-bottom: 8px; /* para dar um espaço entre o primeiro texteArea e o paragrafo 'Descrição' abaixo dele*/
            box-shadow: 3px 4px 3px rgba(0, 0, 0, 0.3);


        }

        .textarea-description{
            height: 150px;
            margin-bottom: 0px; /*tira a margem que foi aplicada antes*/
        }
    }

    .section-hour{
        margin-top: 20px;
        display:flex;
        align-items: center;


        p{
            font-size: 18px;
            font-weight: bold; 
        }

        .input-time{
            width: 130px;
            height: 35px;
            margin-left: 10px;
            border-radius: 8px;
            font-size: 18px;
            text-align: center;
            background-color: $input-white-color;
            box-shadow: 3px 4px 3px rgba(0, 0, 0, 0.3);
        }
    }

    .section-date{
        margin-top: 20px;
        display:flex;
        align-items: center;


        p{
            font-size: 18px;
            font-weight: bold; 
        }

        .input-date{
            width: 150px;
            height: 35px;
            margin-left: 10px;
            border-radius: 8px;
            font-size: 18px;
            text-align: center;
            background-color: $input-white-color;
            box-shadow: 3px 4px 3px rgba(0, 0, 0, 0.3);
        }
    }

    .section-intervalo{
        margin-top: 20px;
        display:flex;
        align-items: center;


        p{
            font-size: 18px;
            font-weight: bold; 
        }

        .select-size{
            font-size: 18px;
            width: 100px;
            height: 35px;
            margin-left: 10px;
            border-radius: 8px;
            background-color: $input-white-color;
            box-shadow: 3px 4px 3px rgba(0, 0, 0, 0.3);
        }
    }

    .section-sub{
        display: flex;
        align-items: center;
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        width: 100%;



        .div-verifSub{
            display: flex;
            flex-direction: row;
            align-items: center;
            width: 100%;
            justify-content: left;
        }
        app-sub-task-create-list{
            width: 100%;
        }
        
        p{
            margin-left: 8px;
            font-size: 18px;
            font-weight: bold;
        }
    }

    .section-buttom-save-discard{

        margin-top: 20px;
        margin-bottom: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: max-content;

        .button-edit{
            width: 130px;
            height: 50px;
            border-width: 1.2px;
            font-size: 18px;
            font-weight: bold;
            background-color: $button-white-color;
            box-shadow: 3px 4px 3px rgba(0, 0, 0, 0.3);
            border-radius: 25px;
        }
    
    }

    .div-dataCreator{
        text-align: right;
    }

}

/* Adicionando um estilo opcional para a scrollbar */
.section-body::-webkit-scrollbar{
  width: 6px;
}

.textarea-title::-webkit-scrollbar, 
.textarea-description::-webkit-scrollbar{
    width: 4px;
}

.section-body::-webkit-scrollbar-thumb, 
.textarea-title::-webkit-scrollbar-thumb, 
.textarea-description::-webkit-scrollbar-thumb {
  background: #a2a1a1; 
  border-radius: 8px;
}

.section-body::-webkit-scrollbar-thumb:hover, 
.textarea-title::-webkit-scrollbar-thumb:hover, 
.textarea-description::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

/* Adicionando um "gap" entre a scrollbar e a borda */
.section-body::-webkit-scrollbar-track{
  margin-top: 15px; /* Adiciona um espaçamento na parte superior e inferior da barra de rolagem */
  margin-bottom: 15px;
}

.textarea-title::-webkit-scrollbar-track, 
.textarea-description::-webkit-scrollbar-track{
    margin-top: 5px; /* Adiciona um espaçamento na parte superior e inferior da barra de rolagem */
    margin-bottom: 5px;
}


/*
    border-style: solid;
    border-width: 1px;
    border-color: black;
*/