@import '../../../../styles/variables';


.section-main{
    background-color: $primary-color;
    width: 100%;
    height: max-content;
    max-height: 85vh;
    
    padding: 10px;
    padding-top: 8px;
    border-style: solid;
    border-width: 2px;
    border-radius: 20px;
    border-color: $border-color;
    display: flex;
    flex-direction: column;
    overflow-y: auto; /* Ativa o scroll vertical */

    .div-buttom-alternative{

        width: 30px;
        height: 30px;
        background-color: $button-white-color;
        border-radius: 20px;
        border-style: solid;
        border-width: 1px;
        cursor: pointer;
        box-shadow: 2px 3px 2px rgba(0, 0, 0, 0.3);

        img{
            margin-left: 3px;
            margin-top: -5.5px;
        }
        
    }

    .section-top{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;


        p{
            margin-top: 5px;
            font-size: 22px;
            font-style: italic;
        }

        .button-close{
            position: absolute;
            right: 0; /* Adjust right position as needed */
            top: 0; /* Adjust top position as needed */
            width: max-content;
            height: max-content;
            border-radius: 20px;
            border-width: 0px;

        }

        img{ 
            cursor: pointer;
            border-radius: 20px;
        }

    }

    .section-emergency{
        display: flex;
        align-items: center;
        margin-top: 10px;

        p{
            margin-left: 8px;
            font-size: 20px;
            font-weight: bold;
        }
    }

    .section-text{


        margin-top: 10px;

        p{
            font-size: 20px;
            font-weight: bold;
            margin-bottom: 4px;
            
        }

        .textarea-title, .textarea-description{
            width: 97%;
            border-radius: 8px;
            border-width: 1.5px;
            padding: 4px;
            font-size: 18px;
            resize: none; /* para fazer o textArea não expandir*/
            margin-bottom: 8px; /* para dar um espaço entre o primeiro texteArea e o paragrafo 'Descrição' abaixo dele*/
            box-shadow: 3px 4px 3px rgba(0, 0, 0, 0.3);
        }

        .textarea-description{
            height: 130px;
            margin-bottom: 0px; /*tira a margem que foi aplicada antes*/
        }
    }

    .section-period{
        margin-top: 15px;

        .button-alternative-period{
            display: flex;
            align-items: center;
            margin-bottom: 10px;

            p{
                margin-left: 8px;
                font-size: 20px;
                font-weight: bold;
            }
        }

        .div-gap{

            p{
                font-size: 18px;
                font-weight: bold;
            }

            .div-group-gap-alternative{
                margin-top: 7px;
                display: flex;
                justify-content: center;
                gap: 18px;
                

            }

            .div-gap-alternative{
                display: flex;
                flex-direction: column;
                align-items: center;
                

                p{
                    margin-bottom: 5px;
                    font-style: italic;
                    font-weight:normal;
                    font-size: 17px;
                }
                
            }

            .div-gap-custom{
                margin-top: 12px;
                display:flex;
                align-items: center;


                p{
                    font-size: 18px;
                    font-weight: bold; 
                }

                .select-size{
                    font-size: 18px;
                    width: 100px;
                    height: 35px;
                    margin-left: 10px;
                    border-radius: 8px;
                    background-color: $input-white-color;
                    box-shadow: 3px 4px 3px rgba(0, 0, 0, 0.3);
                }
            }
        }
    }

    .section-hour{
        margin-top: 12px;
        display:flex;
        align-items: center;


        p{
            font-size: 18px;
            font-weight: bold; 
        }

        .input-time{
            width: 130px;
            height: 35px;
            margin-left: 10px;
            border-radius: 8px;
            font-size: 18px;
            text-align: center;
            background-color: $input-white-color;
            box-shadow: 3px 4px 3px rgba(0, 0, 0, 0.3);
        }
    }

    .section-date{
        margin-top: 12px;
        display:flex;
        align-items: center;


        p{
            font-size: 18px;
            font-weight: bold; 
        }

        .input-date{
            width: 150px;
            height: 35px;
            margin-left: 10px;
            border-radius: 8px;
            font-size: 18px;
            text-align: center;
            background-color: $input-white-color;
            box-shadow: 3px 4px 3px rgba(0, 0, 0, 0.3);
        }
    }

    .section-weekday{
        margin-top: 12px;
        display:flex;
        align-items: center;


        p{
            font-size: 18px;
            font-weight: bold; 
        }

        .select-size{
            width: max-content;
            height: 35px;
            margin-left: 10px;
            border-radius: 8px;
            font-size: 17px;
            text-align: center;
            background-color: $input-white-color;
            box-shadow: 3px 4px 3px rgba(0, 0, 0, 0.3);
        }
    }

    .section-sub{
        display: flex;
        align-items: center;
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        width: 100%;



        .div-verifSub{
            display: flex;
            flex-direction: row;
            align-items: center;
            width: 100%;
            justify-content: left;
        }
        app-sub-task-create-list{
            width: 100%;
        }
        
        p{
            margin-left: 8px;
            font-size: 18px;
            font-weight: bold;
        }
    }

    .section-buttom-save-discard{

        margin-top: 20px;
        margin-bottom: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: max-content;

        .button-save, .button-discard{
            width: 130px;
            height: 50px;
            border-width: 1.2px;
            font-size: 18px;
            font-weight: bold;
            background-color: $button-white-color;
            box-shadow: 3px 4px 3px rgba(0, 0, 0, 0.3);
        }

        .button-save{
            border-radius: 25px 0px 0px 25px;
        }

        .button-discard{
            border-radius: 0px 25px 25px 0px;
        }
    }

}

/*
    border-style: solid;
    border-width: 1px;
    border-color: black;
*/