<section class="bg-gray-100 w-full max-h-[85vh] p-2  border-2 border-black rounded-2xl overflow-y-auto">
  <form (ngSubmit)="saveTask()" novalidate>
    <section class="relative flex items-center justify-center">
      <p class="mt-1 text-lg italic">Criação de Nova Tarefa</p>
      <button type="button" class="absolute right-0 top-0" (click)="closeAddTask()">
        <img src="/icon-close.png" width="30" height="30" alt="button-close" class="cursor-pointer rounded-xl">
      </button>
    </section>

    <section class="mt-2">
      <p class="text-lg font-bold">* Título:</p>
      <textarea [(ngModel)]="data.title" name="title" id="textarea-title" class="w-full rounded-md border p-1 text-lg shadow-md resize-none" required></textarea>

      <p class="text-lg font-bold mt-2">* Descrição:</p>
      <textarea [(ngModel)]="data.description" name="description" id="textarea-description" class="w-full h-32 rounded-md border p-1 text-lg shadow-md resize-none" required></textarea>
    </section>

    <section class="mt-2 flex items-center">
      <button type="button" class="w-8 h-8 bg-white rounded-full border shadow-md" (click)="toggleEmergency()">
        <img src="./icon-verif-button.png" width="32" height="32" *ngIf="toggle.isVerifEmergency">
      </button>
      <p class="ml-2 text-lg font-bold">É uma Tarefa Emergencial?</p>
    </section>

    <section class="mt-4">
      <div class="flex items-center">
        <button type="button" class="w-8 h-8 bg-white rounded-full border shadow-md" (click)="toggleDivGapVisibility()">
          <img src="./icon-verif-button.png" width="32px" height="32px" *ngIf="toggle.isVerificadoPeriod">
        </button>
        <p class="ml-2 text-lg font-bold">É uma Tarefa Periódica?</p>
      </div>

      <div class="mt-2" *ngIf="toggle.isDivGapVisible">
        <p class="text-lg font-bold">* Intervalo de tempo em que se repete:</p>

        <div class="mt-2 flex justify-center gap-4">
          <div class="flex flex-col items-center">
            <p class="italic text-base">Diariamente</p>
            <button type="button" class="w-8 h-8 bg-white rounded-full border shadow-md" (click)="toggleSectionDailyDayVisibility()">
              <img src="./icon-verif-button.png" width="32px" height="32px" *ngIf="toggle.isVerificadoDaily">
            </button>
          </div>

          <div class="flex flex-col items-center">
            <p class="italic text-base">Semanalmente</p>
            <button type="button" class="w-8 h-8 bg-white rounded-full border shadow-md" (click)="toggleSectionWeekDayVisibility()">
              <img src="./icon-verif-button.png" width="32px" height="32px" *ngIf="toggle.isVerificadoWeek">
            </button>
          </div>

          <div class="flex flex-col items-center">
            <p class="italic text-base">Personalizado</p>
            <button type="button" class="w-8 h-8 bg-white rounded-full border shadow-md" (click)="toggleSectionPersonDayVisibility()">
              <img src="./icon-verif-button.png" width="32px" height="32px" *ngIf="toggle.isVerificadoCustom">
            </button>
          </div>
        </div>

        <div class="mt-2 flex items-center" *ngIf="toggle.isSectionPersonDayVisible">
          <p class="text-lg font-bold">* Intervalo personalizado:</p>
          <select [(ngModel)]="data.interval" name="select-gap-custom" class="ml-2 w-24 h-9 text-lg rounded-md bg-white shadow-md" required>
            <option value="30">Mensal</option>
            <option value="91">Trimestral</option>
            <option value="182">Semestral</option>
            <option value="365">Anual</option>
            <option *ngFor="let i of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21]" [ngValue]=i>
              {{i}} dia{{i > 1 ? 's' : ''}}
            </option>
          </select>
        </div>
      </div>
    </section>

    <section class="mt-2 flex items-center">
      <p class="text-lg font-bold">* Data prevista:</p>
      <input [(ngModel)]="data.date" type="date" name="date" id="input-date" class="ml-2 w-36 h-9 text-lg rounded-md bg-white shadow-md">
    </section>

    <section class="mt-2 flex items-center">
      <p class="text-lg font-bold">* Em qual hora do dia:</p>
      <input [(ngModel)]="data.hour" type="time" name="time" id="input-time" class="ml-2 w-32 h-9 text-lg rounded-md bg-white shadow-md" required>
    </section>

    <section class="mt-4 flex flex-col items-center">
      <div class="flex items-center">
        <button type="button" class="w-8 h-8 bg-white rounded-full border shadow-md" (click)="toggleSectionSubVisibility()">
          <img src="./icon-verif-button.png" width="32px" height="32px" *ngIf="toggle.isVerifSub">
        </button>
        <p class="ml-2 text-lg font-bold">Deseja ter sub tarefas?</p>
      </div>
      <app-sub-task-create-list *ngIf="toggle.isVerifSub" (SavedTask)="handleSavedTask($event)" [subTasks]="subTasks"/>
    </section>

    <section class="mt-4 flex justify-center">
      <button class="w-32 h-12 text-lg font-bold bg-white border shadow-md rounded-l-full" type="submit" [disabled]="!isFormValid()">Salvar</button>
      <button type="reset" class="w-32 h-12 text-lg font-bold bg-white border shadow-md rounded-r-full">Descartar</button>
    </section>
  </form>
</section>
