@import '../../../../styles/variables';

.section-container{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;


    textarea{
        resize: none;
        width: 300px;
        height: 26px;
        margin: 8px 0 30px 0;
        border-width: 0 0 2px 0;
        border-color: $border-color;
        background-color: $card-color;
        outline: none;
        font-size: 16px;
        overflow-x:scroll;
        overflow-y: hidden; /* Sem rolagem vertical */
        white-space: nowrap; /* Impede a quebra de linha para forçar rolagem horizontal */

    }
    textarea::-webkit-scrollbar{
        height: 4px;
    }
    textarea::-webkit-scrollbar-thumb {
        background: $textArea-gray-color; 
        border-radius: 8px;
    }


    .section-main{
        display: flex;
        flex-direction: column;
        padding: 30px;
        margin-right: 10%;
        border-style: solid;
        border-radius: 20px;
        border-color: $border-gray-color;
        background-color: $card-color;
        box-shadow: $card-shadow;
        border-width: 1px;

        
        .forms{
            
            display: flex;
            flex-direction: column;
        }

        .div-title{
            text-align: center;
            font-size: 30px;
            margin-bottom: 30px;
        }

        p{
            font-size: 22px;
            
        }

        .div-button{
            display: flex;
            justify-content: center;

            .button-login{

                border-width: 1.2px;
                font-size: 18px;
                font-weight: bold;
                background-color: $button-white-color;
                box-shadow: 3px 4px 3px rgba(0, 0, 0, 0.3);
                border-radius: 25px;

                font-size: 22px;
                padding: 10px;
            }
            .button-login:hover{
                background-color: $button-hover-white-color;
            }
        
        }

        .div-message{
            p{
                font-size: 16px;
                text-align: right;
            }
            .error-message, .incomplete-message {
                color: $text-red-color;
            }
            margin-bottom: 10px;
        }

    }

    /* Media query para telas menores que 768px (tablets e smartphones) */
    @media (max-width: 1350px) {
        .section-main {
            max-width: 100%;
            padding: 20px;
            margin-right: 0;
        }

    }      
}