// importação: @import '../../../../styles/variables';

$primary-color: #ffffff;
$top-bar-color: #e4e4e4;
$side-bar-color: #e4e4e4;

$card-color: #f0eeee;
$card-shadow: 5px 7px 10px rgba(0, 0, 0, 0.2);

$text-color: #000000;
$text-white-color: #ffffff;
$text-gray-color: #4e4e4e;
$text-red-color: #cc0000;

$button-white-color: #ffffff;
$button-hover-white-color: #e6e3e3;
$button-blue-color: #095db6;
$button-hover-blue-color: #044488;
$button-red-color: #e90a0a;

$textArea-gray-color: #a2a1a1;
$textArea-hover-gray-color: #8b8a8a;

$input-white-color: #ffffff;

$border-color: #000000;
$border-gray-color: #afafaf;

$task-color: #f0eeee;
$verif-color: #ffffff;

/*
    border-style: solid;
    border-width: 1px;
    border-color: black;
*/