@import '../../../../styles/variables';

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.section-main {
    background-color: $top-bar-color;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 99.92%;
    height: 50px; /* Altura da barra superior */
    border-style: solid;
    border-color: $border-color;
    border-radius: 0px 0px 8px 8px;
    border-width: 1px;
    


    .section-menu, .section-user {
        cursor: pointer;
        margin: 2px 6px 0px 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%; /* Para ocupar a altura total da barra superior */
        flex: 0 0 auto; /* Não deixar expandir */

        img{
            margin-bottom: -3px;
        }

        button{
            background-color: $top-bar-color;
            border-width: 0;
            height: max-content;
            margin-bottom: 3px;
            cursor: pointer;
        }
    }

    .section-centro {
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 1; /* Expandir para ocupar espaço disponível */
        height: 100%; /* Para ocupar a altura total da barra superior */

        .div-logo {
            cursor: pointer;
            position: absolute;
            
            a{
                all: unset;
                display: inline;
            }

            h1{
                font-size: 25px;
                font-style: italic;
                color: $text-color;
            }
        }
    }

}