<section class="bg-gray-200 flex items-center justify-between w-[99.92%] h-12 border border-gray-600 rounded-b-lg px-1">
    <!-- Menu (Botão de abrir sidebar) -->
    <section class="cursor-pointer m-0.5 flex items-center justify-center h-full" (click)="openSideBar()">
        <button class="bg-gray-200 border-0 h-auto cursor-pointer">
            <img ngSrc="/icon-menu.png" width="38" height="36" class="mb-[-3px]">
        </button>
    </section>

    <!-- Centro (Logo) -->
    <section class="flex items-center justify-center flex-1 h-full relative">
        <div class="absolute cursor-pointer">
            <a href="/home" class="inline-block">
                <h1 class="text-black text-2xl italic">Desenvolvimento Atlas</h1>
            </a>
        </div>
    </section>

    <!-- Usuário (Botão de perfil) -->
    <section class="cursor-pointer m-0.5 flex items-center justify-center h-full" (click)="navigateToPage()">
        <button class="bg-gray-200 border-0 h-auto cursor-pointer">
            <img ngSrc="/user.png" width="36" height="36" class="mb-[-3px]">
        </button>
    </section>
</section>
