@import '../../../../styles/variables';

.container{
    padding: 20px;

    button{
        width: 100px;
        height: 40px;
        border-width: 1.2px;
        font-size: 14px;
        font-weight: bold;
        background-color: $primary-color;
        box-shadow: 3px 4px 3px rgba(0, 0, 0, 0.3);
        border-radius: 25px;
        transition: background-color 0.3s ease; // pra suavizar o hover, lek
    }
    button:hover {
        background-color: darken($button-white-color, 15%); /* Escurece a cor em 20% */
    }
    

    .div-prova{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 30px;

        .subtitle {
            // eu posso não saber o porque, mas só fica alinhado à equerda assim
            text-align: left;
            width: 100%;
            margin: 0; 

            font-size: 17px;
            font-weight: bold;
        }
        .title{
            font-size: 20px;
            font-weight: bold;
        }

        textarea{
            resize: none;
            width: 100%;
            padding: 8px;
            border-radius: 5px;
            transition: background-color 0.3s ease; // pra suavizar o hover, lek
        }

        textarea:hover {
            border-width: 2px; /* aumentar o border */
        }

        .div-showcase,
        .form-header,
        .form-question{
            padding: 20px;
            gap: 15px; 

            width: 90%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            border-style: solid;
            border-width: 1px;
            border-color: black;
            border-radius: 5px;
            background-color: $text-color;

            .textarea-enunciado{
                height: 70px;
            }
        }
        .form-header{
            textarea{
                height: 70px;
            }
        }

        .div-showcase{
            height: calc((90vw / 210) * 297);



            textarea{
                width: 90%; 
                height: 90%;
                padding: 20px 25px;
                font-size: calc(10px + (1vw - 3px)); 
                line-height: 1.5; 
            }

            .divB {
                display: flex;
                width: 100%;
                align-items: center;
            
                .button-container {
                    flex-grow: 1;
                    display: flex;
                    justify-content: center;
                    margin-left: 100px;
                }
            
                .div-varB {
                    display: flex;
                    flex-direction: column;
                    gap: 8px;
                }
            }





        }
    }

}