<section class="container">
    <div class = "div-prova">
        <form class="form-header" (submit)="saveHeader()">
            <p class = "title">Header</p>
            <textarea [(ngModel)]="header" name="header" id="textarea-header" class="textarea-header" required></textarea>
            <button class="button-save" type="submit" [disabled]="!header">Salvar</button>
        </form>

        <form class="form-question" (submit)="saveQuestion()">
            <p class = "title">Question</p>

            <p class = "subtitle">* Enunciado</p>
            <textarea [(ngModel)]="enunciado" name="enunciado" id="textarea-enunciado"
             class="textarea-enunciado" placeholder="Enunciado" required></textarea>

            <p class = "subtitle">* Alternativas</p>
            <textarea [(ngModel)]="alternativa1" name="alternativa1" id="textarea-alternativa1" 
            class="textarea-alternativa" [disabled]="!enunciado" placeholder="Alternativa A"></textarea>

            <textarea [(ngModel)]="alternativa2" name="alternativa2" id="textarea-alternativa2" 
            class="textarea-alternativa" [disabled]="!alternativa1" placeholder="Alternativa B"></textarea>

            <textarea [(ngModel)]="alternativa3" name="alternativa3" id="textarea-alternativa3" 
            class="textarea-alternativa" [disabled]="!alternativa2" placeholder="Alternativa C"></textarea>

            <textarea [(ngModel)]="alternativa4" name="alternativa4" id="textarea-alternativa4" 
            class="textarea-alternativa" [disabled]="!alternativa3" placeholder="Alternativa D"></textarea>

            <textarea [(ngModel)]="alternativa5" name="alternativa5" id="textarea-alternativa5" 
            class="textarea-alternativa" [disabled]="!alternativa4" placeholder="Alternativa E"></textarea>

            <button class="button-save" type="submit" [disabled]="!enunciado">Adicionar Questão</button>
            <button class="button-save" type="reset" [disabled]="!enunciado">Limpar os Campos</button>

        </form>
        
        <div class = "div-showcase">
            <p class="title">Show Case</p>

            <textarea [(ngModel)]="showcase" name="showcase" id="showcase" 
            class="textarea-showcase"></textarea>

            <div class="divB">
                <div class="button-container">
                    <button (click)="baixar()">Baixar PDF</button>
                </div>

                <div class="div-varB">
                    <button (click)="baixar()">Baixar Variável 1</button>
                    <button (click)="baixar()">Baixar Variável 2</button> 
                </div>
            </div>

 


        </div>
    </div>


</section>