<section class = "container">

  <section class = "section-Add-task" *ngIf="isAddTaskVisible" >
    <add-task-page class = "task-page" (closeAddTaskEvent)="toggleAddTask()" (saveTaskEvent)="onTaskSaved($event)"/>

  </section>

  <section class = "section-Display-task" *ngIf="isDisplayTaskVisible">
    <display-task class = "display-task" (closeDisplayTaskEvent)="toggleDisplayTask()" 
    (editTaskEvent) = "toggleEditTask()" [data] = "infoTask"/>  

  </section>

  <section class = "section-Check-task" *ngIf="isCheckTaskVisible" >
    <check-task class = "check-task" (closeCheckTaskEvent)="toggleCheckTask()" [data] = "infoTask"/>

  </section>

  <section class = "section-Edit-task" *ngIf="isEditTaskVisible" >
    <edit-task class = "edit-task" (closeEditTaskEvent)="toggleEditTask()" [data] = "infoTask"/>

  </section>


  <section [ngClass]="{'blur-background': isAddTaskVisible || isDisplayTaskVisible || isCheckTaskVisible || isEditTaskVisible }" class="section-main" >
    <ng-container *ngFor="let section of sections">
      <section class="section-task" [ngClass]="{'section-task-emergencial': section.title.includes('Emergencial')}">
        <p class="p-emergencial" *ngIf="section.title.includes('Emergencial')">{{ section.title }}</p>

        <p *ngIf="!section.title.includes('Emergencial')">{{ section.title }}</p>

        <ng-container *ngFor="let task of section.tasks">
          <div class="div-task">
            <task [data]="task" (verifClicked)="openCheckTask($event)" (taskClicked)="openDisplayTask($event)"></task>

          </div>
          
        </ng-container>

      </section>
      
    </ng-container>

    <section  class="section-addButtom">
      <button class = "buttom-addButtom" (click)="toggleAddTask()" ><addButtom></addButtom></button>

    </section>

  </section>

</section>

