<section class="pt-5 px-4">
    <!-- Perfil do Usuário -->
    <section class="flex items-center mb-4 bg-white p-3 rounded-lg shadow-md border border-gray-200">
      <img src="/user.png" alt="Foto do usuário" width="80" height="80" class="rounded-full shadow-sm">
      <div class="flex flex-col justify-center gap-1 ml-4" *ngIf="userData">
        <p class="text-xl font-semibold text-gray-800">{{ userData.name }}</p>
        <p class="text-lg text-gray-600">{{ userData.email }}</p>
      </div>
    </section>
  
    <hr class="border-gray-300">

    <section class="flex flex-col items-center mt-4 bg-white p-3 rounded-lg shadow-md border border-gray-200">
      <p class="text-2xl font-semibold text-gray-800">Relatório</p>
      <p class="text-xl font-semibold text-gray-800">Consistência das Tarefas Periódicas</p>

      <div class="w-full mt-8">
    
        <div *ngFor="let task of tasks; let i = index">
          <p class="text-lg font-semibold text-gray-700">{{ task.title }}</p>
          <canvas [id]="'consistencyChart-' + i" class="max-h-60"></canvas>
        </div>
    
      </div>
  </section>

  </section>
  