<!-- src/app/home/home.component.html -->
<div class="home-container">
    <header class="header">
      <h1>Bem-vindo ao Desenvolvimento Atlas</h1>
      <p>Seu centro integrado para crescimento e autoaperfeiçoamento.</p>
    </header>
  
    <section class="sections">
      <div class="section">

        <h2>Desenvolvimento Atlas Clássico</h2>
        <p>Organize e gerencie suas tarefas cotidianas com ferramentas eficazes. 
            Acompanhe seu progresso, registre suas realizações e gere relatórios detalhados 
            para aprimorar sua organização pessoal.
        </p>

        <a class="btn" href="/classico">Saiba Mais</a>
      </div>
  
      <div class="section">
        <h2>Desenvolvimento Atlas Acadêmico</h2>

        <p>Otimize seu aprendizado com métodos eficazes e um cronograma personalizado. 
            Acesse um banco de questões, organize suas revisões e acompanhe seu progresso 
            acadêmico com relatórios detalhados.
        </p>

        <a class="btn" href="/academico">Saiba Mais</a>
      </div>
  
      <div class="section">
        <h2>Desenvolvimento Atlas Vital</h2>

        <p>Gerencie sua saúde e bem-estar físico com planos de treino personalizados. 
            Registre seu progresso e compartilhe resultados com personal trainers, tudo 
            em um ambiente motivador e integrado.
        </p>

        <a class="btn" href="/vital">Saiba Mais</a>
      </div>
    </section>
    
  </div>