/* src/app/home/home.component.scss */
@import '../../../../styles/variables';

.home-container {
    padding: 20px;
    font-family: Arial, sans-serif;
}

.header {
    text-align: center;
    padding: 40px 20px;

    h1 {
        font-size: 2.5em;
        margin: 0;
        color: $text-color;
    }

    p {
        font-size: 1.2em;
        color: $text-gray-color;
    }
}

.sections {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 20px;
    gap:50px;

    .section {
        background: $card-color;
        border: 1px solid $border-gray-color;
        border-radius: 8px;
        padding: 20px;
        width: 30%;
        margin-bottom: 20px;
        box-shadow: $card-shadow;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;

        h2 {
            text-align: center;
            font-size: 1.8em;
            margin-top: 0;
            margin-bottom: 10px; // Ajuste a margem inferior para criar espaçamento adequado
            word-wrap: break-word;
            hyphens: auto;
            max-width: 90%;

        }

        p {
            font-size: 1em;
            color: $text-gray-color;
            text-align: justify; // Alinha o texto dos parágrafos
            padding: 0 10px; // Padding adicional
            hyphens: auto;
            max-width: 90%;
        }
    }
}


.btn {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 10px;
    background: $button-blue-color;
    color: $text-white-color;
    text-decoration: none;
    border-radius: 4px;
    width: max-content;
}

.btn:hover {
    background: $button-hover-blue-color;
}
  
/* Media query para telas menores que 768px (tablets e smartphones) */
    @media (max-width: 1350px) {
        .sections{
            justify-content: center;
            align-items: center;
            margin-top: 20px;
            flex-direction: column;
            width: 100%;
            gap: 0;

            .section{
                
                width: 80%;
            }
        }
    
    }