<div class="p-5 font-sans">
  <header class="text-center py-10">
      <h1 class="text-4xl font-bold text-gray-800">Bem-vindo ao Desenvolvimento Atlas</h1>
      <p class="text-lg text-gray-600">Seu centro integrado para crescimento e autoaperfeiçoamento.</p>
  </header>

  <section class="flex flex-wrap justify-center gap-10 mt-5">
      <div class="bg-white border border-gray-300 rounded-lg shadow-md p-6 w-full max-w-md flex flex-col items-center text-center">
          <h2 class="text-3xl font-semibold text-gray-800">Desenvolvimento Atlas</h2>
          <p class="text-gray-600 text-lg text-justify mt-2">
              Organize e gerencie suas tarefas cotidianas com ferramentas eficazes. 
              Acompanhe seu progresso, registre suas realizações e gere relatórios detalhados 
              para aprimorar sua organização pessoal.
              Ultilize ainda de metodos de produtividade como o Pomodoro.
          </p>
      </div>

  </section>
</div>
