<section class="fixed w-full h-full bg-gray-200 border border-gray-600 rounded-tr-md z-50">
    <section class="w-full h-full">
        
        <a href="/home" class="text-black no-underline">
            <div class="h-12 flex items-center pl-10 text-lg hover:bg-gray-700 transition-colors">
                <h1>Home</h1>
            </div>
        </a>
        <hr class="mx-1 border-gray-600">

        <a href="/all-lists" class="text-black no-underline">
            <div class="h-12 flex items-center pl-10 text-lg hover:bg-gray-700 transition-colors">
                <h1>Task List</h1>
            </div>
        </a>
        <hr class="mx-1 border-gray-600">

        <a href="/account" class="text-black no-underline">
            <div class="h-12 flex items-center pl-10 text-lg hover:bg-gray-700 transition-colors">
                <h1>Account</h1>
            </div>
        </a>
        <hr class="mx-1 border-gray-600">
    </section>
</section>
